.bod{
    background-color: white;
    background-size: cover;
    color: #F16529;
    height: 2rem;
    font-size: bold;
    width: 15rem;
    padding-left: 1.2rem;
}
.img{
    width: 30px;
    border-radius: 100%;
}
.lod{
    width: 20px;
}

